body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.logo {
    position: absolute;
    left: 10px;
    top: 5px;
    text-align: center;
}

.container .logo h1 {
    color: #488d6c;
}

.container .logo h1 span {
    color: #082215;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    display: flex;
    text-align: center;
    position: absolute;
    top: 1px;
}

ul {
    display: flex;
}

li {
    padding: 20px;
    list-style-type: none;
}

li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.icons {
    position: absolute;
    right: 10px;
    top: 21px;
    display: flex;
}

.icons i {
    padding: 20px;
    font-size: 20px;
    color: #488d6c;
}

.body-container {
    width: 100%;
    height: 100vh;
}

.text-body {
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px;
}

.text-body h1 {
    font-size: 40px;
    color: #488d6c;
    text-shadow: 20px #082215, 30px #082215;
    font-weight: 900;
}

.img-container img {
    width: 100%;
}

p {
    font-size: 15px;
}

h1,
p {
    text-align: center;
}

.img-container {
    width: 100%;
    padding-right: 10px;
}

button {
    background-color: #082215;
    outline: none;
    padding: 10px;
    color: aliceblue;
    border: 0px;
    border-radius: 7px;
    font-size: 19px;
    margin-top: 20px;
    margin-left: 20px;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 1;
    flex-grow: 1;
}