body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu";
}

.card-container {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-around;
}

.boxs1,
.boxs2,
.boxs3,
.boxs4 {
    width: 300px;
    height: 550px;
    background-color: rgb(68, 68, 124);
    border: 1px solid;
    margin: 10px;
}

.card-header img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-body {
    text-align: center;
    color: chartreuse;
}

.card-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.card-footer button {
    background-color: green;
    color: white;
    font-size: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    padding: 5px;
}

.price {
    text-align: center;
}

.price h5 {
    font-size: 25px;
    color: greenyellow;
}

.card-footer i {
    color: yellow;
}