@import "header-social.css";
@import "navbar.css";
:root {
    --black: #222831;
    --little-black: #393E46;
    --something-blue: #00ADB5;
    --white: #eeeeee;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 0;
    padding: 0;
    display: grid;
    z-index: 1;
}

.box1 {
    text-align: center;
    border: 0px solid #222831;
    background: black;
}

.item h4,
.item p {
    color: #eeeeee;
}

.section2 {
    height: 100vh;
    width: 100%;
    background: #393E46;
}